{% extends 'base.html' %} <br />
{% load static %} <br />
{% block title %}Regsiter Transport{% endblock title %} <br />
{% block content %} <br />

<style>
  #id_username:focus,
  #id_contact_number:focus,
  #id_password:focus,
  #id_cpassword:focus {
    border: 1px solid black;
  }

  .form-control:focus {
    box-shadow: none;
  }
</style>

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li
    {%
    if
    message.tags
    %}
    class="bg-{{ message.tags }} p-4 text-center"
    {%
    endif
    %}
  >
    {{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %}

<div class="container card py-3 mb-3" style="letter-spacing: 1px">
  <h5 class="fw-normal mb-3 pb-3 text-center">Transport Registration</h5>
  <form action="" method="POST" class="w-50 m-auto box-shadow">
    {% csrf_token %} {% for fm in form %}

    <div class="field-wrap">
      {{fm}}
      <p class="text-danger">{{fm.errors|striptags}}</p>
    </div>

    {% endfor %}
    <a href="/transport_login" class="d-block text-decoration-none"
      >Already have an account</a
    >
    <br />
    <button type="submit" class="btn btn-dark w-100">Register</button>
  </form>
</div>

{% endblock content %}
