{% extends 'base_student.html' %} <br />
{% load static %} <br />
{% block title %}Notifiction{%endblock title %} <br />

{% block content %}

<style>
  li {
    color: black !important;
  }
</style>

<div class="container">
  <div class="card" style="width: 18rem">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Route-1</h5>

      <a href="#" class="btn btn-primary">See Available Bus</a>
    </div>
  </div>
</div>

{% endif %} {% endblock content %}
