{% extends 'transport_base.html' %} <br />
{% load static %} <br />
{% block title %}Number Of Passenger{%endblock title %} <br />
{% block content %}

<style>
  table {
    font-family: "Inter", sans-serif;
    text-align: center;
    border-right: 1px solid green;
    border-left: 1px solid green;
  }
  thead {
    top: 0;
    position: sticky;
    background: #000;
    color: white;
  }
  
  table,tr,td
  {
    border: 1px solid black;
    text-align: center;
    justify-content: center;
  }

  tbody tr,
  thead tr {
    position: relative;
  }
  tbody th {
    position: sticky;
    left: 0;
  }
  #myInput:focus{
    border:1px solid black;
  }

  .form-control:focus {
    box-shadow: none;
    }
 
</style>

<div>
  <a href="{% url 'addbusstopage'  %}" class="mb-4 mt-4 p-4 bg-info text-white">Add Bus Stopage</a>
</div>

<div class="container">

   <div>
  <h1 class="alert alert-light border rounded text-center">All Routes</h1>
  
</div>

  {% if messages %} <br>
  {% for message in messages %}
  <p
    {%
    if
    message.tags
    %}
    class="alert alert-{{message.tags}} mb-5"
    {%
    endif
    %}
  >
    {{message}}
  </p>
  {% endfor %} 
  {% endif %}  

 

  <input
    class="form-control mb-3"
    type="text"
    name=""
    id="myInput"
    placeholder="Search.."
    onkeyup="searchFun()"
  />
  <table class="table table-striped" id="myTable">
    <thead>
      <tr>
        <th>Route</th>
        <th>Label</th>
        <th>Latitude</th>
        <th>Edit</th>
        <th>Delete</th>
      
      </tr>
    </thead>
    <tbody>
      {% for route in busstopage %}
      <tr>
       
        <td>{{route.route_number}}</td>
        <td>{{route.label}}</td>
        <td>{{route.lattitude}}</td>
        <td><a href="{% url 'editbusstopage' route.id %}" class="btn btn-info">Update</a></td>
        <td><a href="{% url 'deletebusstopage' route.id %}" class="btn btn-danger">Delete</a></td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>



<script>
  const searchFun = () => {
    let filter = document.getElementById("myInput").value.toUpperCase();

    let myTable = document.getElementById("myTable");
    let tr = myTable.getElementsByTagName("tr");

    for (var i = 0; i < tr.length; i++) {
      let td = tr[i].getElementsByTagName("td")[2];
        
      if (td) {
        let textvalue = td.textContent || td.innerHTML;
        if (textvalue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    };
    
  };
</script>

</div>
{% endblock content %}
